@import url('https://fonts.googleapis.com/css?family=Pacifico');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

body {
  color: rgb(255,215,0);
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  font-weight: 300;
  background: #000;
  position: relative;
  height: 100vh
}

h1 {
  text-align: center;
}

img {

  display: block;
  border: 4px solid #fff;
  border-radius: 8px;
  border-color: rgb(255,215,0);
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

